# Pair Programming Python + SQL

1. Importar las librerías necesarias para crear la conexión y trabajar con Pandas.

In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

2. Crear la conexión a la base de datos Northwind que devuelva un mensaje de error si algo no ocurre cómo debería.

In [2]:
#Establecer conexión o printar código de error si no es posible conectarse
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='northwind')
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
else:
  cnx.close()

3. Usando "information_schema", extraer los nombres de las columnas de la tabla "customers" de la BBDD "northwind".

In [3]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='information_schema')
mycursor=cnx.cursor()
#hacemos la query
mycursor.execute('''SELECT column_name FROM COLUMNS
                 WHERE TABLE_NAME = "customers" AND table_schema = "northwind"''')
#sacamos todos los resultados de la query
myresult=mycursor.fetchall()
myresult

[('id',),
 ('company',),
 ('last_name',),
 ('first_name',),
 ('email_address',),
 ('job_title',),
 ('business_phone',),
 ('home_phone',),
 ('mobile_phone',),
 ('fax_number',),
 ('address',),
 ('city',),
 ('state_province',),
 ('zip_postal_code',),
 ('country_region',),
 ('web_page',),
 ('notes',),
 ('attachments',)]

In [7]:
#Otra forma de sacar las columnas, pero sin utilizar information_schema
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='northwind')
mycursor=cnx.cursor()
#hacemos la query
mycursor.execute('SELECT * FROM customers')
mycursor.column_names

('id',
 'company',
 'last_name',
 'first_name',
 'email_address',
 'job_title',
 'business_phone',
 'home_phone',
 'mobile_phone',
 'fax_number',
 'address',
 'city',
 'state_province',
 'zip_postal_code',
 'country_region',
 'web_page',
 'notes',
 'attachments')

4. Seleccionar todo de la tabla "customers" donde "country" sea "USA" o "Germany". Almacenar los resultados en una variable.

In [9]:
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab', host='127.0.0.1', database='northwind')
mycursor=cnx.cursor()
#hacemos la query
mycursor.execute('''SELECT * FROM customers
                 WHERE country_region in ("USA", "GERMANY")''')
myresult=mycursor.fetchall()
myresult

[(1,
  'Company A',
  'Bedecs',
  'Anna',
  None,
  'Owner',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 1st Street',
  'Seattle',
  'WA',
  '99999',
  'USA',
  None,
  None,
  b''),
 (2,
  'Company B',
  'Gratacos Solsona',
  'Antonio',
  None,
  'Owner',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 2nd Street',
  'Boston',
  'MA',
  '99999',
  'USA',
  None,
  None,
  b''),
 (3,
  'Company C',
  'Axen',
  'Thomas',
  None,
  'Purchasing Representative',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 3rd Street',
  'Los Angelas',
  'CA',
  '99999',
  'USA',
  None,
  None,
  b''),
 (4,
  'Company D',
  'Lee',
  'Christina',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 4th Street',
  'New York',
  'NY',
  '99999',
  'USA',
  None,
  None,
  b''),
 (5,
  'Company E',
  'O’Donnell',
  'Martin',
  None,
  'Owner',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 5th Street',
  'Minneapolis',
  'MN',
  '99999',
  'USA',
  None,
  None,
  b''),
 (6,
  'Company F',
  'Pérez-Olaeta',
  'Francisco',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 6th Street',
  'Milwaukee',
  'WI',
  '99999',
  'USA',
  None,
  None,
  b''),
 (7,
  'Company G',
  'Xie',
  'Ming-Yang',
  None,
  'Owner',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 7th Street',
  'Boise',
  'ID',
  '99999',
  'USA',
  None,
  None,
  b''),
 (8,
  'Company H',
  'Andersen',
  'Elizabeth',
  None,
  'Purchasing Representative',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 8th Street',
  'Portland',
  'OR',
  '99999',
  'USA',
  None,
  None,
  b''),
 (9,
  'Company I',
  'Mortensen',
  'Sven',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 9th Street',
  'Salt Lake City',
  'UT',
  '99999',
  'USA',
  None,
  None,
  b''),
 (10,
  'Company J',
  'Wacker',
  'Roland',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 10th Street',
  'Chicago',
  'IL',
  '99999',
  'USA',
  None,
  None,
  b''),
 (11,
  'Company K',
  'Krschne',
  'Peter',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 11th Street',
  'Miami',
  'FL',
  '99999',
  'USA',
  None,
  None,
  b''),
 (12,
  'Company L',
  'Edwards',
  'John',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '123 12th Street',
  'Las Vegas',
  'NV',
  '99999',
  'USA',
  None,
  None,
  b''),
 (13,
  'Company M',
  'Ludick',
  'Andre',
  None,
  'Purchasing Representative',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '456 13th Street',
  'Memphis',
  'TN',
  '99999',
  'USA',
  None,
  None,
  b''),
 (14,
  'Company N',
  'Grilo',
  'Carlos',
  None,
  'Purchasing Representative',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '456 14th Street',
  'Denver',
  'CO',
  '99999',
  'USA',
  None,
  None,
  b''),
 (15,
  'Company O',
  'Kupkova',
  'Helena',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '456 15th Street',
  'Honolulu',
  'HI',
  '99999',
  'USA',
  None,
  None,
  b''),
 (16,
  'Company P',
  'Goldschmidt',
  'Daniel',
  None,
  'Purchasing Representative',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '456 16th Street',
  'San Francisco',
  'CA',
  '99999',
  'USA',
  None,
  None,
  b''),
 (17,
  'Company Q',
  'Bagel',
  'Jean Philippe',
  None,
  'Owner',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '456 17th Street',
  'Seattle',
  'WA',
  '99999',
  'USA',
  None,
  None,
  b''),
 (18,
  'Company R',
  'Autier Miconi',
  'Catherine',
  None,
  'Purchasing Representative',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '456 18th Street',
  'Boston',
  'MA',
  '99999',
  'USA',
  None,
  None,
  b''),
 (19,
  'Company S',
  'Eggerer',
  'Alexander',
  None,
  'Accounting Assistant',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 19th Street',
  'Los Angelas',
  'CA',
  '99999',
  'USA',
  None,
  None,
  b''),
 (20,
  'Company T',
  'Li',
  'George',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 20th Street',
  'New York',
  'NY',
  '99999',
  'USA',
  None,
  None,
  b''),
 (21,
  'Company U',
  'Tham',
  'Bernard',
  None,
  'Accounting Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 21th Street',
  'Minneapolis',
  'MN',
  '99999',
  'USA',
  None,
  None,
  b''),
 (22,
  'Company V',
  'Ramos',
  'Luciana',
  None,
  'Purchasing Assistant',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 22th Street',
  'Milwaukee',
  'WI',
  '99999',
  'USA',
  None,
  None,
  b''),
 (23,
  'Company W',
  'Entin',
  'Michael',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 23th Street',
  'Portland',
  'OR',
  '99999',
  'USA',
  None,
  None,
  b''),
 (24,
  'Company X',
  'Hasselberg',
  'Jonas',
  None,
  'Owner',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 24th Street',
  'Salt Lake City',
  'UT',
  '99999',
  'USA',
  None,
  None,
  b''),
 (25,
  'Company Y',
  'Rodman',
  'John',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 25th Street',
  'Chicago',
  'IL',
  '99999',
  'USA',
  None,
  None,
  b''),
 (26,
  'Company Z',
  'Liu',
  'Run',
  None,
  'Accounting Assistant',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 26th Street',
  'Miami',
  'FL',
  '99999',
  'USA',
  None,
  None,
  b''),
 (27,
  'Company AA',
  'Toh',
  'Karen',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 27th Street',
  'Las Vegas',
  'NV',
  '99999',
  'USA',
  None,
  None,
  b''),
 (28,
  'Company BB',
  'Raghav',
  'Amritansh',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 28th Street',
  'Memphis',
  'TN',
  '99999',
  'USA',
  None,
  None,
  b''),
 (29,
  'Company CC',
  'Lee',
  'Soo Jung',
  None,
  'Purchasing Manager',
  '(123)555-0100',
  None,
  None,
  '(123)555-0101',
  '789 29th Street',
  'Denver',
  'CO',
  '99999',
  'USA',
  None,
  None,
  b'')]

5. Convertir los resultados del ejercicio anterior en un Dataframe (no os olvidéis de poner el nombre a las columnas en el orden correcto).

In [10]:
#nombramos las columnas
column_name=['id','company','last_name','first_name', 'email_address', 'job_title', 'business_phone', 'home_phone', 'mobile_phone', 'fax_number', 'address', 'city', 'state_province', 'zip_postal_code', 'country_region', 'web_page', 'notes', 'attachments']

In [11]:
df_customers=pd.DataFrame(myresult, columns = column_name)
df_customers

,id,company,last_name,first_name,email_address,job_title,business_phone,home_phone,mobile_phone,fax_number,address,city,state_province,zip_postal_code,country_region,web_page,notes,attachments
0,1,Company A,Bedecs,Anna,None,Owner,(123)555-0100,None,None,(123)555-0101,123 1st Street,Seattle,WA,99999,USA,None,None,b''
1,2,Company B,Gratacos Solsona,Antonio,None,Owner,(123)555-0100,None,None,(123)555-0101,123 2nd Street,Boston,MA,99999,USA,None,None,b''
2,3,Company C,Axen,Thomas,None,Purchasing Representative,(123)555-0100,None,None,(123)555-0101,123 3rd Street,Los Angelas,CA,99999,USA,None,None,b''
3,4,Company D,Lee,Christina,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 4th Street,New York,NY,99999,USA,None,None,b''
4,5,Company E,O’Donnell,Martin,None,Owner,(123)555-0100,None,None,(123)555-0101,123 5th Street,Minneapolis,MN,99999,USA,None,None,b''
5,6,Company F,Pérez-Olaeta,Francisco,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 6th Street,Milwaukee,WI,99999,USA,None,None,b''
6,7,Company G,Xie,Ming-Yang,None,Owner,(123)555-0100,None,None,(123)555-0101,123 7th Street,Boise,ID,99999,USA,None,None,b''
7,8,Company H,Andersen,Elizabeth,None,Purchasing Representative,(123)555-0100,None,None,(123)555-0101,123 8th Street,Portland,OR,99999,USA,None,None,b''
8,9,Company I,Mortensen,Sven,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 9th Street,Salt Lake City,UT,99999,USA,None,None,b''
9,10,Company J,Wacker,Roland,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 10th Street,Chicago,IL,99999,USA,None,None,b''
10,11,Company K,Krschne,Peter,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 11th Street,Miami,FL,99999,USA,None,None,b''
11,12,Company L,Edwards,John,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 12th Street,Las Vegas,NV,99999,USA,None,None,b''
12,13,Company M,Ludick,Andre,None,Purchasing Representative,(123)555-0100,None,None,(123)555-0101,456 13th Street,Memphis,TN,99999,USA,None,None,b''
13,14,Company N,Grilo,Carlos,None,Purchasing Representative,(123)555-0100,None,None,(123)555-0101,456 14th Street,Denver,CO,99999,USA,None,None,b''
14,15,Company O,Kupkova,Helena,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,456 15th Street,Honolulu,HI,99999,USA,None,None,b''
15,16,Company P,Goldschmidt,Daniel,None,Purchasing Representative,(123)555-0100,None,None,(123)555-0101,456 16th Street,San Francisco,CA,99999,USA,None,None,b''
16,17,Company Q,Bagel,Jean Philippe,None,Owner,(123)555-0100,None,None,(123)555-0101,456 17th Street,Seattle,WA,99999,USA,None,None,b''
17,18,Company R,Autier Miconi,Catherine,None,Purchasing Representative,(123)555-0100,None,None,(123)555-0101,456 18th Street,Boston,MA,99999,USA,None,None,b''
18,19,Company S,Eggerer,Alexander,None,Accounting Assistant,(123)555-0100,None,None,(123)555-0101,789 19th Street,Los Angelas,CA,99999,USA,None,None,b''
19,20,Company T,Li,George,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 20th Street,New York,NY,99999,USA,None,None,b''
20,21,Company U,Tham,Bernard,None,Accounting Manager,(123)555-0100,None,None,(123)555-0101,789 21th Street,Minneapolis,MN,99999,USA,None,None,b''
21,22,Company V,Ramos,Luciana,None,Purchasing Assistant,(123)555-0100,None,None,(123)555-0101,789 22th Street,Milwaukee,WI,99999,USA,None,None,b''
22,23,Company W,Entin,Michael,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 23th Street,Portland,OR,99999,USA,None,None,b''
23,24,Company X,Hasselberg,Jonas,None,Owner,(123)555-0100,None,None,(123)555-0101,789 24th Street,Salt Lake City,UT,99999,USA,None,None,b''
24,25,Company Y,Rodman,John,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 25th Street,Chicago,IL,99999,USA,None,None,b''
25,26,Company Z,Liu,Run,None,Accounting Assistant,(123)555-0100,None,None,(123)555-0101,789 26th Street,Miami,FL,99999,USA,None,None,b''
26,27,Company AA,Toh,Karen,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 27th Street,Las Vegas,NV,99999,USA,None,None,b''
27,28,Company BB,Raghav,Amritansh,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 28th Street,Memphis,TN,99999,USA,None,None,b''
28,29,Company CC,Lee,Soo Jung,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 29th Street,Denver,CO,99999,USA,None,None,b''

6. Muestrar las 10 primeras filas del Dataframe y las 10 últimas.

In [12]:
df_customers.head(10)

,id,company,last_name,first_name,email_address,job_title,business_phone,home_phone,mobile_phone,fax_number,address,city,state_province,zip_postal_code,country_region,web_page,notes,attachments
0,1,Company A,Bedecs,Anna,None,Owner,(123)555-0100,None,None,(123)555-0101,123 1st Street,Seattle,WA,99999,USA,None,None,b''
1,2,Company B,Gratacos Solsona,Antonio,None,Owner,(123)555-0100,None,None,(123)555-0101,123 2nd Street,Boston,MA,99999,USA,None,None,b''
2,3,Company C,Axen,Thomas,None,Purchasing Representative,(123)555-0100,None,None,(123)555-0101,123 3rd Street,Los Angelas,CA,99999,USA,None,None,b''
3,4,Company D,Lee,Christina,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 4th Street,New York,NY,99999,USA,None,None,b''
4,5,Company E,O’Donnell,Martin,None,Owner,(123)555-0100,None,None,(123)555-0101,123 5th Street,Minneapolis,MN,99999,USA,None,None,b''
5,6,Company F,Pérez-Olaeta,Francisco,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 6th Street,Milwaukee,WI,99999,USA,None,None,b''
6,7,Company G,Xie,Ming-Yang,None,Owner,(123)555-0100,None,None,(123)555-0101,123 7th Street,Boise,ID,99999,USA,None,None,b''
7,8,Company H,Andersen,Elizabeth,None,Purchasing Representative,(123)555-0100,None,None,(123)555-0101,123 8th Street,Portland,OR,99999,USA,None,None,b''
8,9,Company I,Mortensen,Sven,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 9th Street,Salt Lake City,UT,99999,USA,None,None,b''
9,10,Company J,Wacker,Roland,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 10th Street,Chicago,IL,99999,USA,None,None,b''

In [13]:
df_customers.tail(10)

,id,company,last_name,first_name,email_address,job_title,business_phone,home_phone,mobile_phone,fax_number,address,city,state_province,zip_postal_code,country_region,web_page,notes,attachments
19,20,Company T,Li,George,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 20th Street,New York,NY,99999,USA,None,None,b''
20,21,Company U,Tham,Bernard,None,Accounting Manager,(123)555-0100,None,None,(123)555-0101,789 21th Street,Minneapolis,MN,99999,USA,None,None,b''
21,22,Company V,Ramos,Luciana,None,Purchasing Assistant,(123)555-0100,None,None,(123)555-0101,789 22th Street,Milwaukee,WI,99999,USA,None,None,b''
22,23,Company W,Entin,Michael,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 23th Street,Portland,OR,99999,USA,None,None,b''
23,24,Company X,Hasselberg,Jonas,None,Owner,(123)555-0100,None,None,(123)555-0101,789 24th Street,Salt Lake City,UT,99999,USA,None,None,b''
24,25,Company Y,Rodman,John,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 25th Street,Chicago,IL,99999,USA,None,None,b''
25,26,Company Z,Liu,Run,None,Accounting Assistant,(123)555-0100,None,None,(123)555-0101,789 26th Street,Miami,FL,99999,USA,None,None,b''
26,27,Company AA,Toh,Karen,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 27th Street,Las Vegas,NV,99999,USA,None,None,b''
27,28,Company BB,Raghav,Amritansh,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 28th Street,Memphis,TN,99999,USA,None,None,b''
28,29,Company CC,Lee,Soo Jung,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,789 29th Street,Denver,CO,99999,USA,None,None,b''

7. Mostrar 5 filas aleatorias del Dataframe.

In [14]:
df_customers.sample(5)

,id,company,last_name,first_name,email_address,job_title,business_phone,home_phone,mobile_phone,fax_number,address,city,state_province,zip_postal_code,country_region,web_page,notes,attachments
17,18,Company R,Autier Miconi,Catherine,None,Purchasing Representative,(123)555-0100,None,None,(123)555-0101,456 18th Street,Boston,MA,99999,USA,None,None,b''
10,11,Company K,Krschne,Peter,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 11th Street,Miami,FL,99999,USA,None,None,b''
11,12,Company L,Edwards,John,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 12th Street,Las Vegas,NV,99999,USA,None,None,b''
5,6,Company F,Pérez-Olaeta,Francisco,None,Purchasing Manager,(123)555-0100,None,None,(123)555-0101,123 6th Street,Milwaukee,WI,99999,USA,None,None,b''
0,1,Company A,Bedecs,Anna,None,Owner,(123)555-0100,None,None,(123)555-0101,123 1st Street,Seattle,WA,99999,USA,None,None,b''

8. ¿Hay nulos en el Dataframe? El resultado debe verse para cada una de las columnas.

In [23]:
df_customers.isnull()

,id,company,last_name,first_name,email_address,job_title,business_phone,home_phone,mobile_phone,fax_number,address,city,state_province,zip_postal_code,country_region,web_page,notes,attachments
0,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
1,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
2,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
3,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
4,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
5,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
6,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
7,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
8,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
9,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
10,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
11,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
12,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
13,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
14,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
15,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
16,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
17,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
18,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
19,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
20,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
21,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
22,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
23,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
24,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
25,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
26,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
27,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False
28,False,False,False,False,True,False,False,True,True,False,False,False,False,False,False,True,True,False

9. Mostrar los principales estadísticos.

In [22]:
df_customers.describe(include='object')

,company,last_name,first_name,email_address,job_title,business_phone,home_phone,mobile_phone,fax_number,address,city,state_province,zip_postal_code,country_region,web_page,notes,attachments
count,29,29,29,0,29,29,0,0,29,29,29,29,29,29,0,0,29
unique,29,28,28,0,6,1,0,0,1,29,16,15,1,1,0,0,1
top,Company A,Lee,John,NaN,Purchasing Manager,(123)555-0100,NaN,NaN,(123)555-0101,123 1st Street,Seattle,CA,99999,USA,NaN,NaN,b''
freq,1,2,2,NaN,13,29,NaN,NaN,29,1,2,3,29,29,NaN,NaN,29

10. Mostrar el nombre de las columnas del Dataframe.

In [21]:
df_customers.columns

Index(['id', 'company', 'last_name', 'first_name', 'email_address',
       'job_title', 'business_phone', 'home_phone', 'mobile_phone',
       'fax_number', 'address', 'city', 'state_province', 'zip_postal_code',
       'country_region', 'web_page', 'notes', 'attachments'],
      dtype='object')